/*
[Obsidian-Typora-Vue-Theme](https://github.com/maijz128/Obsidian-Theme-See-Yue-Lite) (**v1.0.0**) is a theme for [Obsidian](https://obsidian.md/), which is inspired by [typora-vue-theme](https://github.com/blinkfox/typora-vue-theme)and [Blue Topaz](https://github.com/whyt-byte/Blue-Topaz_Obsidian-css/).
*/

/* The primary color is #42b983 or #42b883.*/
body{
	--accent-h: 153;
    --accent-s: 47%;
    --accent-l: 49%;
	--icon-color-hover: hsl(var(--interactive-accent-hsl));	
	--background-modifier-message: hsl(var(--interactive-accent-hsl));
    --background-modifier-hover: hsla(var(--interactive-accent-hsl), 0.05);
	--nav-item-color-hover: hsl(var(--interactive-accent-hsl));
    --nav-item-color-active: hsl(var(--interactive-accent-hsl));
	--table-header-weight: var(--bold-weight);
	--table-header-color: var(--text-normal);
	--h1-size: 2.2em;
	--h2-size: 1.75em;
	--h3-size: 1.4em;
	--h4-size: 1.2em;
	--h5-size: 1em;
	--h6-size: 1em;
	--h1-color: #fd7c5e;
    --h2-color: #699A82;
    --h3-color: #81b29a;
    --h4-color: #81b29a;
    --h5-color: #81b29a;
    --h6-color: #81b29a;
	
	  --interactive-accent-rgb: 45, 130, 204;
	--interactive-accent-hover: var(--color-accent-2);
	
	/* Line heights */
	--line-height-normal: 1.6;
	--line-height-tight: 1.4;
	
	
	
	--font-default: 'Microsoft YaHei',system-ui,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif,'iconfont','icomoon','FontAwesome','Material Icons Extended','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',emoji;
	text-shadow: 0 0 0.86px #b1ada6d9, 0 0 0.75px #7c7c7cdd, 0 0 0.56px #302f2d4b;
   -webkit-text-stroke: 0.015px currentcolor;
	font-feature-settings: "liga" 0;
	font-variant: no-common-ligatures proportional-nums;
	font-optical-sizing: auto;
	font-kerning: auto;
	text-rendering: optimizeLegibility!important;
	
}

.theme-light{
	--text-normal: #34495e;
	--background-secondary: #ffffff;
	--code-background: #f8f8f8;
	--cus-inline-code-text: #e96900;
	--cus-code-block-border: #f4f4f4;
	--cus-table-header: #f2f2f2;
	--cus-table-gap-tr: #fafafa;
	--table-header-color: #e2542e;
	--table-row-background-hover: #f2f2f2;
	--cus-highlight-cursor-line: rgba(245,204,142,0.12);
	

}

.theme-dark{
	--text-normal: #EEEEEE;
	--code-background: #1a1a1a;
	--cus-inline-code-text: #f3b37f;
	--cus-code-block-border: #1c1c1c;
	--cus-table-header: #171717;
	--cus-table-gap-tr: #1a1a1a;
	--table-header-color: #e2542e;
	--table-row-background-hover: #171717;
	--cus-highlight-cursor-line: rgba(225,225,225, 0.12);
	

}

/* blockquote BEGIN*/
body{

}
.markdown-rendered blockquote{
	padding: var(--size-4-2) var(--size-4-3);
	background-color: hsla(var(--interactive-accent-hsl), 0.1);
	border-left: 4px solid hsl(var(--interactive-accent-hsl));
}
.HyperMD-quote{
	color: rgb(102, 102, 102);
    background-color: rgba(236, 244, 249, 0.6);
    /* font-size: 18px; */
    /* font-family: 霞鹜文楷; */
    /* border-left: 0.2em solid rgb(132, 150, 176); */
    /* border-color: rgb(132, 150, 176); */
    /* padding: 10px; */
    /* border-radius: 5px; */
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before{
	/* border-left: 4px solid hsl(var(--interactive-accent-hsl)); */
	border-left: 0.2em solid rgb(132, 150, 176);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
	/* background-color: hsla(var(--interactive-accent-hsl), 0.1); */
	padding: 10px;
}

.cm-formatting-quote {
	opacity: 0;
}

/* blockquote END*/


/* code block BEGIN*/
.markdown-source-view.mod-cm6 .code-block-flair:hover, .markdown-rendered button.copy-code-button:hover{
	background-color: hsla(var(--interactive-accent-hsl), 0.1);
}

.cm-s-obsidian span.cm-inline-code{
	color: var(--cus-inline-code-text);
}

.markdown-rendered p code{
	color: var(--cus-inline-code-text);
}

.markdown-rendered pre{
	border:1px solid var(--cus-code-block-border);
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg{
	border-top: 1px solid var(--cus-code-block-border);
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg{
	border-bottom: 1px solid var(--cus-code-block-border);
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock{
	border-left: 1px solid var(--cus-code-block-border);
	border-right: 1px solid var(--cus-code-block-border);
}
/* code block END*/


/* table BEGIN*/
table thead{
	background-color: var(--cus-table-header);
	font-weight: bold;
}

table tr:nth-child(2n),
thead {
    background-color: var(--cus-table-gap-tr);
}

/* table END*/


/*Header BEGIN*/
.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6{
	position:relative;
}

.markdown-preview-view h1:hover::before, .HyperMD-header .cm-header-1:hover::before{
    content: 'h1';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    left: -19px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: 1px;
}

.markdown-preview-view h2:hover::before, .HyperMD-header .cm-header-2:hover::before{
    content: 'h2';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    margin: 0;
    left: -20px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: -4px;
}

.markdown-preview-view h3:hover::before, .HyperMD-header .cm-header-3:hover::before{
    content: 'h3';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    margin: 0;
    left: -20px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: -6px;
}

.markdown-preview-view h4:hover::before, .HyperMD-header .cm-header-4:hover::before{
    content: 'h4';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    margin: 0;
    left: -21px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: -8px;
}

.markdown-preview-view h5:hover::before, .HyperMD-header .cm-header-5:hover::before{
   content: 'h5';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    margin: 0;
    left: -20px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: -11px;
}

.markdown-preview-view h6:hover::before, .HyperMD-header .cm-header-6:hover::before{
    content: 'h6';
    position: absolute;
    font-size: 10px;
    color: rgb(221 221 221);
    font-weight: 400;
    width: auto;
    margin: 0;
    left: -20px;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 3px;
    top: -11px;
}

 .HyperMD-header,
 .HyperMD-header a {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bolder !important;
  line-height: 1.3;
  cursor: text;
  letter-spacing: 2px;
  color: #81b29a !important;
}

/* 不建议使用五级、六级标题，所以颜色调浅 */
 .HyperMD-header-6 a,
.HyperMD-header-6 {
  color: rgb(129, 178, 154, .5) !important;
}

.HyperMD-header-5 a,
.HyperMD-header-5 {
  color: rgb(129, 178, 154, .7) !important;
}

/* 标题为网址时，样式修改 */
 .HyperMD-header:hover a.anchor {
  text-decoration: none !important;
  border: none !important;
}

 .HyperMD-header a {
  text-decoration: none !important;
  border: none !important;
  color: inherit !important;
}




/* 一级标题样式 */
 h1,  h1 a,
 .HyperMD-header-1,
 .HyperMD-header .cm-header-1, .HyperMD-header .cm-header-1 a
 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 1.3;
  text-align: center;
  color: #fd7c5e;
}

/* 二级标题样式一 */

 .HyperMD-header-2 {
  /* font-size: 1.8rem; */
  margin: 35px 0 15px !important;
  padding-bottom: 10px !important;
}

 .HyperMD-header-2 a,
 .HyperMD-header-2 a:hover {
  border: none;
}

 .HyperMD-header-2 .cm-header-2
 {
  font-weight: bold;
  color:  #699A82; 
  padding: 0px 5px 0px;
  border-radius: 4px;
}

 .HyperMD-header-2:after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0px;
  top: auto;
  background-image: linear-gradient(to right, #c1dfc4 0%, #deecdd 100%);
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
}

 .HyperMD-header-3 {
  /* font-size: 1.6rem; */
  margin: 20px 0 0px !important;
  padding-bottom: 0;
}

/* ———————————————————————————————————————————————————标题等级提示—————————————————————————————————————————————————————*/

 .HyperMD-header-2::before,
 .HyperMD-header-3::before,
 .HyperMD-header-4::before,
 .HyperMD-header-5::before,
 .HyperMD-header-6::before {
  vertical-align: bottom;
  /* position: absolute; */
  right: calc(100% + 1px);
  bottom: 0;
  color: #e07a5f !important;
  font-weight: bolder !important;
  border: 0;
  border-radius: 0;
  left: auto;
  float: left;
  padding: 0;
  font-size: 10px !important;
  opacity: 0.8;
}

 .HyperMD-header-2::before {
  content: '#2';
  top: -10px;
}

 .HyperMD-header-3::before,
 .HyperMD-header-3.md-focus:before {
  content: '#3';
  top: -5px;
}

 .HyperMD-header-4::before,
 .HyperMD-header-4.md-focus:before {
  content: '#4';
  top: -5px;
}

 .HyperMD-header-5::before,
 .HyperMD-header-5.md-focus:before {
  content: '#5';
  top: -5px;
}

 .HyperMD-header-6::before,
 .HyperMD-header-6.md-focus:before {
  content: '#6';
  top: -5px;
}

 .HyperMD-header-3.md-focus:before,
 .HyperMD-header-4.md-focus:before,
 .HyperMD-header-5.md-focus:before,
 .HyperMD-header-6.md-focus:before {
  line-height: 1.3;
  border: none;
  margin: 0;
  padding: 0;
  left: auto;
}


/*Header END*/

/*Cursor line BEGIN*/
body{
	--list-marker-color: var(--text-faint);
    --list-marker-color-hover: var(--text-muted);
    --list-marker-color-collapsed: var(--text-accent);
	
}

.cm-active.cm-line{
	background:var(--cus-highlight-cursor-line) !important;
}

.cm-formatting-list-ol {
	unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
	text-transform: none;
	text-indent: 0px !important;
	text-align: start !important;
	text-align-last: start !important;
	list-style: decimal-leading-zero;
}
/*Cursor line END*/

/*Hover Font color BEGIN*/
.menu-item:hover:not(.is-disabled):not(.is-label), .suggestion-item.is-selected{
	color: hsl(var(--interactive-accent-hsl));
}
/*Hover Font color END*/

/*Navigator File BEGIN*/
.nav-file-title.is-active{
	border-radius:0;
	border-left: 4px solid hsl(var(--interactive-accent-hsl));
	padding-left: 4px;
}
/*Navigator File END*/

/*A Link BEGIN*/
body{
	--link-external-decoration: none;
	--link-external-decoration-hover: none;
	--link-external-color: #81b29a;
	--link-external-color-hover: #e2542e;
}
.cm-link  {
	border-bottom: 1px dashed #81b29a;
}
.cm-link:hover {
    /* color: #e2542e !important;  */
    border-bottom: 1px solid #e2542e;
}
/*A Link END*/



/*Tag BEGIN*/
body{
	--accent-h: 207;
    --accent-s: 77%;
    --accent-l: 54%;
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--interactive-accent-hsl: var(--color-accent-hsl);
	
	/* --interactive-accent-rgb: 45, 130, 204; */
	/* --interactive-accent-hover: var(--color-accent-2); */
	/* --tag-theme-color: 45, 130, 204;  */
	--tag-theme-color: var(--tag-text);
	/* --theme-color: var(--interactive-accent); */
    /* --theme-color-translucent-06: hsla(var(--interactive-accent-hsl),0.6); */
    /* --theme-color-translucent-04: hsla(var(--interactive-accent-hsl),0.4); */
    /* --theme-color-translucent-02: hsla(var(--interactive-accent-hsl),0.2); */
    /* --theme-color-translucent-015: hsla(var(--interactive-accent-hsl),0.15); */
    --theme-color-translucent-01: hsla(var(--interactive-accent-hsl),0.1);
    /* --theme-color-translucent-005: hsla(var(--interactive-accent-hsl),0.05); */
    /* --theme-color-translucent-001: hsla(var(--interactive-accent-hsl),0.01); */
	--tag-background-color-01: hsla(var(--interactive-accent-hsl),0.1);
}


.theme-light{
	  --tag-text: #f8f8f8;
	  --stag1: #fa8787;
	  --stag1-bg: #eb2727;
	  --stag2: #fdbd5c;
	  --stag2-bg: #ee9002;
	  --stag3: #50ce3a;
	  --stag3-bg: #22ac09;
	  --tag1: #2573f0;
	  --tag2: #2193f0;
	  --tag3: #17a5e7;
	  --tag4: #14acc7;
	  --tag5: #10bdbd;
	  --tag-dailynote: #0077ff;
	  --tag-dailynote-bg: #277CDD;
	  --tag-weeklynote: #4b9fff;
	  --tag-weeklynote-bg: #6aafff;
	  --tag-questions: #b68fff;
	  --tag-questions-bg: #b085ff;
	  --tag-ideas: #ceb900;
	  --tag-ideas-bg: #444444d8;
}

.theme-dark{
	
 --tag-text: #e4e4e4;
  --stag1: #f08383;
  --stag1-bg: #bd1919;
  --stag2: #e7b263;
  --stag2-bg: #ac6700;
  --stag3: #77df89;
  --stag3-bg: #058c1c;
  --tag1: #3674bb;
  --tag2: #3685ad;
  --tag3: #2a8f91;
  --tag4: #43804f;
  --tag5: #5f932e;

  --tag-dailynote: #98c8ff;
  --tag-dailynote-bg: #0f60bd;
  --tag-weeklynote: #d1e6ff;
  --tag-weeklynote-bg: #3971b1;
  --tag-questions: #d4bdff;
  --tag-questions-bg: #6640ae;
  --tag-ideas: #fcfcc0;
  --tag-ideas-bg: #565656d8;
}

.cm-hashtag{
	background-color: var(--theme-color-translucent-01) !important;
	color: var(--tag1) !important;
}

 span.cm-hashtag-begin:nth-child(5n+1),
 span.cm-hashtag-begin:nth-child(5n+1)+span.cm-hashtag{
	 filter: hue-rotate(0deg);
 }
 
  span.cm-hashtag-begin:nth-child(5n+2),
 span.cm-hashtag-begin:nth-child(5n+2)+span.cm-hashtag{
	 filter: hue-rotate(70deg);
 }

 span.cm-hashtag-begin:nth-child(5n+3),
 span.cm-hashtag-begin:nth-child(5n+3)+span.cm-hashtag{
	 filter: hue-rotate(140deg);
 }

 span.cm-hashtag-begin:nth-child(5n+4),
 span.cm-hashtag-begin:nth-child(5n+4)+span.cm-hashtag{
	 filter: hue-rotate(210deg);
 }
 
  span.cm-hashtag-begin:nth-child(5n+5),
 span.cm-hashtag-begin:nth-child(5n+5)+span.cm-hashtag{
	 filter: hue-rotate(280deg);
 }
 





/*Tag END*/
